
              <form role="form" [formGroup]="infoBasicFrom" >
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1">Marca</label>
                      <select  class="form-select" aria-label="Default select example" id="form3Example1" formControlName="carBrandId" >
                        <option *ngFor="let carBrand of listCarBrand" [value]="carBrand.id">{{carBrand.description}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example2">Referencia</label>
                      <input formControlName="reference" type="text" id="form3Example2" class="form-control"  placeholder="Referencia del coche"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example3">Precio</label>
                      <input formControlName="price" type="text" id="form3Example3" class="form-control" placeholder="0,0" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example4">Fecha matriculacion</label>
                      <input formControlName="modelYear" type="date" id="form3Example4" class="form-control" />
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example5">Categoria</label>
                  <select  class="form-select" aria-label="Default select example"   for="form3Example5" formControlName="category" >
                    <option *ngFor="let option of categoryOptions" [value]="option" >{{option}}</option>
                  </select>
                </div>
              </form>