/* You can add global styles to this file, and also import other style files */
/* styles.css */
.header-after-navbar {
    margin-top: 70px; /* Ajusta el valor según sea necesario */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
